@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

:root {
  --primary-color: #D7CCC8;
  --second-color: #f24b4b;
  --background-color: #252422;
  --font: sans-serif;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.7);
  }
  95% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes reveal-info {
  0% {
    height: 0;
  }
  5% {
    height: 350px;
  }
  95% {
    height: 350px;
  }
  100% {
    height: 0;
  }
}

body {
  margin-top: 9vw;
  padding: 0;
  background-color: var(--primary-color);
}

.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  height: 700px;
  background-color: #D7CCC8;
  font-size: 14px;
  font-family: "Montserrat", sans;
}

.container .container-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  animation: fade-in 1.5s ease, slide-in 1.2s ease;
  -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
}

.container .container-inner .main-content {
  flex-basis: 50%;
  order: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.container .container-inner .main-content .main-headings {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  animation: scaleDown 6s ease 2s;
  -webkit-animation: scaleDown 6s ease 2s;
}
.container .container-inner .main-content .main-headings #by-line {
  width: 60%;
  padding-bottom: 1px;
  padding-left: 3px;
  margin-left: 15px;
  font-size: 3vh;
  border-bottom: 1px solid #757575;
  font-style: italic;
}
.container .container-inner .main-content .main-headings .heading {
  margin-top: 20px;
  margin-left: 80px;
}
.container .container-inner .main-content .main-headings .heading #heading1, .container .container-inner .main-content .main-headings .heading #heading2, .container .container-inner .main-content .main-headings .heading #heading3 {
  margin: 0;
  margin-top: -20px;
}
.container .container-inner .main-content .main-headings .heading #heading1, .container .container-inner .main-content .main-headings .heading #heading2 {
  font-size: 500%;
  font-weight: normal;
  letter-spacing: -2px;
}
.container .container-inner .main-content .main-headings .heading #heading1 {
  margin-left: 50px;
}
.container .container-inner .main-content .main-headings .heading #heading2 {
  margin-left: 150px;
}
.container .container-inner .main-content .main-headings .heading #heading3 {
  margin-top: -52px;
  font-size: 1100%;
  font-weight: 800;
  letter-spacing: 2px;
}
.container .container-inner .main-content .main-headings .short-bio {
  width: 70%;
  margin-top: -30px;
  margin-left: 90px;
  font-style: italic;
  font-size: 3vh;
  text-align: justify;
}
.container .container-inner .main-content .main-headings a {
  margin-left: 92px;
  align-self: flex-start;
  font-weight: bold;
  font-size: 120%;
  font-family: helvetica;
  text-decoration: none;
  color: black;
}
.container .container-inner .main-content .main-headings a:hover {
  text-decoration: underline;
}
.container .container-inner .main-content .more-info {
  margin-top: -70px;
  width: 70%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-start;
  text-align: justify;
  overflow: hidden;
  animation: reveal-info 4s ease 3s;
  -webkit-animation: reveal-info 4s ease 3s;
}
.container .container-inner .image-wrapper {
  flex-basis: 50%;
  order: 2;
}
.container .container-inner .image-wrapper .image-container {
  width: 90%;
  height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: scaleDown 6s ease 2s;
  -webkit-animation: scaleDown 6s ease 2s;
}
.container .container-inner .image-wrapper .image-container img {
  width: 100%;
  height: auto;
  position: relative;
}

/* Timeline Container */
.timeline {
  margin-top: 0px;
  background: var(--primary-color);
  margin-left: 130px;
  width: 50%;
}

/* Card container */
.card {
  position: relative;
  max-width: 30vw;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid var(--second-color);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #252422;
  color: #F2F0D8;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  color: var(--second-color);
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid var(--second-color);
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}

main{
  display: inline-block;
  width: 100%;
}

main > h1{
  background-color: #252422;
  margin-left: 130px;
  color: #fff;
  padding: 10px;
  width: 80%;
  margin-top: -60px;
}

#linha-color{
  background-color: #f24b4b;
  height: 10px;
  width: 81.5%;
  margin-left: 130px;
  margin-top: -30px;
}

.deck {
  margin-top: 50px;
  position: relative;
  max-width: 400px;
  width: 50%;
  margin-right: 200px;
  float: right;
}
@media (max-width: 705px) {
  .deck {
    margin: 4em auto;
  }
}
.deck:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 95%;
  top: -1.5em;
  left: 0em;
  border-radius: 8px;
  background-color: var(--primary-color);
}
@media (max-width: 550px) {
  .deck:before {
    left: 1.5em;
  }
}

.card2 {
  position: relative;
  background-color: var(--background-color);
  width: 32vw;
  padding: 1em;
  z-index: 5;
  border-radius: 2px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  transition: 200ms ease-in-out;
}

.card2 + .card2 {
  margin-top: 1em;
}
.card2:hover {
  z-index: 7;
  transform: scale(1.05);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
}
.card2:first-of-type {
  margin-left: -3em;
  margin-right: 3em;
}
@media (max-width: 705px) {
  .card2:first-of-type {
    margin-left: -1em;
    margin-right: 1em;
  }
}
@media (max-width: 550px) {
  .card2:first-of-type {
    margin: 0;
  }
}
.card2:nth-of-type(2) {
  margin-left: 5em;
  margin-right: -5em;
  margin-top: -6em;
}

.card2:nth-of-type(4) {
  margin-left: 5em;
  margin-right: -5em;
  margin-top: -6em;
}
@media (max-width: 705px) {
  .card2:nth-of-type(2) {
    margin-left: 1em;
    margin-right: -1em;
    margin-top: 1em;
  }
}
@media (max-width: 550px) {
  .card2:nth-of-type(2) {
    margin: 1em 0 0;
  }
}
.card2:nth-of-type(3) {
  margin-top: -2em;
  margin-left: -1em;
  margin-right: 1em;
}

.card2:nth-of-type(5) {
  margin-top: -2em;
  margin-left: -1em;
  margin-right: 1em;
}
@media (max-width: 705px) {
  .card2:nth-of-type(3) {
    margin-left: -1em;
    margin-right: 1em;
    margin-top: 1em;
  }
  .card2:nth-of-type(3):after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1em;
    display: block;
    border-bottom: 5px solid rgba(192, 57, 43, 0.6);
  }
}
@media (max-width: 550px) {
  .card2:nth-of-type(3) {
    margin: 1em 0 0;
  }
}

.cardHeader {
  display: grid;
  grid-template-columns: 36px auto 100px;
  align-items: center;
  text-transform: uppercase;
}
.cardHeader .cardHeader_type {
  color: #FFD433;
  margin: 10px;
}
.cardHeader .cardHeader_account {
  color: #C6E1ED;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 1px;
}
.cardHeader .cardHeader_date {
  margin: 10px;
  color: #C6E1ED;
  font-size: 0.85em;
  font-weight: 600;
  text-align: right;
}

.cardBody {
  display: flex;
  margin: 0 10px 10px;
}

.cardBody > img{
  width: 30vw;
}

@media (min-width: 350px) and (max-width: 529px) {
  * {
    animation-name: none !important;
  }

  .container {
    width: 90%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 5px;
    margin-bottom: 20px;
  }

  .container-inner {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .main-content, .image-wrapper {
    flex-basis: 100% !important;
  }

  .main-content {
    order: 2 !important;
    outline: 1px solid red;
    margin: 0 50px;
  }

  .image-wrapper {
    order: 1 !important;
  }

  .heading {
    margin-left: 55px !important;
  }

  #heading1, #heading2 {
    margin: 0;
    margin-top: -5px !important;
  }

  #heading2 {
    margin-left: 100px !important;
  }

  #heading3 {
    margin-top: -20px !important;
  }

  .short-bio {
    margin-top: -10px !important;
    margin-left: 60px !important;
  }

  .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    font-size: 8px;
  }

  .link {
    display: none;
  }

  .image-wrapper {
    order: 1 !important;
    width: 100%;
    height: 100px !important;
    justify-content: center !important;
  }

  .image-container {
    width: 100% !important;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 530px) and (max-width: 699px) {
  * {
    animation-name: none !important;
  }

  .container {
    width: 90%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 8px;
  }

  .container-inner {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .main-content, .image-wrapper {
    flex-basis: 100% !important;
  }

  .main-content {
    width: 80%;
    order: 2 !important;
    align-self: center !important;
  }

  .main-headings {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    margin-left: 55px !important;
  }

  #heading1, #heading2 {
    margin: 0;
    margin-top: -15px !important;
  }

  #heading3 {
    margin-top: -30px !important;
  }

  .short-bio {
    margin-top: -20px !important;
    margin-left: 60px !important;
  }

  .link {
    display: none;
  }

  .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    text-align: justify;
  }

  .image-wrapper {
    order: 1 !important;
    width: 100%;
    height: 400px;
    justify-content: center !important;
  }

  .image-container {
    width: 100% !important;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .container {
    width: 100%;
    height: auto;
    font-size: 9px;
  }

  #heading3 {
    margin-top: -35px !important;
  }

  .link {
    margin-left: 30px;
  }

  .more-info {
    margin-top: -40px !important;
  }
}