@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

body {
    width: 98vw;
    margin-top: 100px;
    margin-left: 0%;
    background-color: #F2F0D8;
}

header nav{
    background-color: #252422;
    justify-content: space-around;
    display: flex;
    align-items: center;
    justify-content: left;
    animation: alternate;
    transition: 2s;
}

header nav a{
    color: #F2F0D8;
    text-decoration: none;
    padding-left: 60px;
}
  
header nav a:hover {
    color: #f24b4b;
}

header {
    top: -100px;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 50;
}
  
header.sticky {
    top: -100px;
    position: fixed;
    transition-delay: 0.5s;
    transform: translateY(100px);
    transition: transform 0.3s ease-out;
    z-index: 10;
}

#logo-img{
    width: 100px;
    height: 100px;
    display: flex;
    padding-left: 40px;
    padding-bottom: 10px;
}

#menu li {
    display: inline;
    font-size: 18px;
    font-family: 'Blinker', 'Courier New', Courier, monospace;
    animation: alternate;
    transition: 0.5s;
}
